/* 
    Document   : newCascadeStyleSheet
    Created on : Jan 30, 2013, 12:06:50 PM
    Author     : John Thomas
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;   
    color: white;
 }
 div {
     color: black;
 }